<app-navbar-donor></app-navbar-donor>
<div class="flex justify-center">
    <div class=" bg-white mt-20 border-0 shadow-2xl w-[90%] lg:w-[40%] p-5 rounded-2xl h-auto">

        <p class=" text-red-700 font-bold text-center">Blood Donor</p>
        <div class="border border-s-4 border-s-red-700 ps-4 p-2 rounded-xl mt-7">
            <p class=" text-red-700 font-medium">FULL NAME</p>
            <p class=" font-medium">Anish Kumar</p>
        </div>
        <div class="border border-s-4 border-s-red-700 ps-4 p-2 rounded-xl mt-7">
            <p class=" text-red-700 font-medium">EMAIL ADDRESS</p>
            <p class=" font-medium">anishyadav7853&#64;gmail.com</p>
        </div>
        <div class="border border-s-4 border-s-red-700 ps-4 p-2 rounded-xl mt-7">
            <p class=" text-red-700 font-medium">PHONE NUMBER</p>
            <p class=" font-medium">+91 987654321</p>
        </div>
        <div class="border border-s-4 border-s-red-700 ps-4 p-2 rounded-xl mt-7">
            <p class=" text-red-700 font-medium">BLOOD GROUP</p>
            <p class=" font-medium">O+</p>
        </div>
        <div class="border border-s-4 border-s-red-700 ps-4 p-2 rounded-xl mt-7">
            <p class=" text-red-700 font-medium">LOCATION</p>
            <p class=" font-medium">New York, NY, USA</p>
        </div>
        
        <button class="border-0 text-white font-bold text-xl w-[100%] mt-4 p-2 rounded-4xl bg-[#C0392B]">Edit Profile</button>
    </div>


</div>