<app-navbar-recipient></app-navbar-recipient>

<div class="mt-15 mx-[10%]">
  <button class="bg-red-700 p-2 text-white rounded px-5 mt-7"
    (click)="showForm = true">
    New Request +
  </button>

  <h1 class="mt-3 text-2xl font-medium">My Requests</h1>
  <div *ngIf="loading" class="flex justify-center items-center py-8">
    <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-gray-900"></div>
    <span class="ml-2">Loading Requests</span>
  </div>
  <div *ngIf="!loading && !error && requests.length === 0" class="text-center py-8 text-gray-600">
    <p>No Requests found.</p>
  </div>
  <div *ngIf = "!loading && !error && requests.length > 0">
    <app-my-request
      *ngFor="let request of requests; trackBy:trackByRequestId"
      [request]="request"></app-my-request>
  </div>
  <app-new-request
  *ngIf="showForm"
  (closeForm)="showForm = false">
  </app-new-request>


</div>
