<div class="mt-4">
  <div class="border rounded-xl p-5 bg-gray-100 border-gray-300 shadow">
    <div class="flex justify-between items-center">
      <div class="bg-red-500 text-xl text-white font-bold px-4 rounded-2xl">
        {{request.bloodGroup}}
      </div>
      <div class="border-0 rounded-2xl py-1 bg-amber-200 font-bold text-red-400 px-2">
        {{request.urgencyLevel}}
      </div>
    </div>

    <div class="mt-2">
      <p class="text-xl font-bold"><i>{{request.receiverName}}</i> : {{request.reason}}</p>
    </div>

    <div class="md:flex md:justify-between mt-2 text-md">
      <p>📍 {{request.hospitalName}}, {{request.hospitalAddress}}</p>
      <p class="px-4 mt-2 text-red-500 text-center font-bold bg-white rounded-2xl border">{{request.status}}</p>
    </div>
  </div>
</div>

