
  <div class="mt-4">
    <div class="border rounded-xl p-5 bg-gray-100 border-gray-300 shadow">
      <div class="flex justify-between items-center">
        <div class="bg-red-500 text-xl text-white font-bold px-4 rounded-2xl">
         {{responses.bloodGroup}}
        </div>
        <div
          class="border-0 rounded-2xl py-1 bg-amber-200 font-bold text-red-400 px-2"
        >
          {{responses.urgencyLavel}}
        </div>
      </div>
      <div class="md:flex md:justify-between md:items-center">
        <div>
          <p class="mt-2 font-bold">{{responses.receiverName}}</p>
          <p class="text-xl font-semibold">{{responses.reason}}</p>
        </div>
        <button
          (click)="cancelRequest()"
          class="cursor-pointer bg-gray-700 text-white rounded-4xl mt-2 p-2 w-[100%] md:w-[auto] flex items-center"
        >
        <span *ngIf="isCancelling" class="inline-block w-4 h-4 mr-2 border-2 border-white border-t-transparent rounded-full animate-spin"></span>
          {{isCancelling? 'Canceling....':'Cancel Request'}}
        </button>
      </div>

      <div class="flex justify-between mt-2">
        <p>📍{{responses.hospitalName}}</p>
        <p></p>
      </div>
    </div>
  </div>

